<app-heading></app-heading>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="row" *ngIf="loading">
    <div class="col-12 col-md-12 col-xl-8 col-left">
        <div class="card mb-4">
            <div class="card-body">
                <app-glide-thumbs [images]="detailImages" [settingsImages]="{
                bound: true,
                rewind: true,
                focusAt: 0,
                startAt: 0,
                gap: 10,
                perView: 1
              }" [thumbs]="detailThumbs" [settingsThumbs]="{
                bound: true,
                rewind: true,
                focusAt: 0,
                startAt: 0,
                gap: 10,
                perView: 5,
                breakpoints: {
                  '2640' : { perView: 5 },
                  '576' : { perView: 4 },
                  '420' : { perView: 3 }
                }
              }"></app-glide-thumbs>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-12 col-xl-4 col-right">
        <div class="card mb-4">
            <div class="position-absolute card-top-buttons">
                <button class="btn btn-header-light icon-button">
                    <i class="simple-icon-refresh"></i>
                </button>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <div class="post-icon mr-3 d-inline-block"><a href="#"><i class="simple-icon-heart mr-1"></i></a>
                        <span>4
                            Likes</span></div>
                    <div class="post-icon d-inline-block"><i class="simple-icon-bubble mr-1"></i> <span>1
                            Comment</span></div>
                </div>
                <span class="text-primary fw-bold" style="font-size: xx-large;">
                    {{product.name}}
                  </span>  
                  <hr />
                  <h2 class="text-muted">
                      {{product.description}}
                  </h2>
                  <div class="row mt-5">
                    <dt class="col-2 fs-5">Points</dt>
                    <dd class="col-10 fs-5">{{product.point}}</dd>
                </div>  
                <p class="text-muted text-small mt-5">Tags</p>
                <p class="mb-3">
                    <!-- <span class="badge mb-1 mr-1 badge-outline-secondary badge-pill">{{product.point | uppercase}}</span> -->
                    <span style="font-size: medium;" class="badge mb-1 mr-1 badge-outline-secondary badge-pill">{{product.category?.name | uppercase}}</span>
                    <span style="font-size: medium;" class="badge mb-1 mr-1 badge-outline-secondary badge-pill">{{product.brand?.name | uppercase}}</span>
                    <span style="font-size: medium;" class="badge mb-1 mr-1 badge-outline-secondary badge-pill">{{product.skin_type?.name | uppercase}}</span>
                </p>
            </div>
        </div>
    </div>
</div>