<div [ngClass]="{'landing-page': true,'show-mobile-menu': showMobileMenu}">
  <div class="mobile-menu " (click)="$event.stopPropagation()">
   
    <a (click)="scrollTo('#home')" href="javascript:;" class="logo-mobile">
      <span class="logo d-none d-xs-block "></span>
  </a>
    <ul class="navbar-nav ">
      <li class="nav-item"><a [routerLink]="['/']">Home</a></li>
      <li class="nav-item"><a type="button" (click)="scrollTo('#Prouducts')">Products</a></li>
      <li class="nav-item"><a type="button" (click)="scrollTo('#about')">Who we Are</a></li>
      <li class="nav-item"><a type="button" (click)="scrollTo('#Contact')">Contact-US</a></li>
    </ul>
  </div>
  <div class="main-container">
    <ngx-headroom class=" landing-page-nav">
      <nav class="navbar">

        <div class="d-flex flex-row mb-4  navbar-left">
          

          <a class="navbar-logo ml-5  pull-left" (click)="scrollTo('#home')" href="javascript:;">
            <span class="logo d-none d-xs-block "></span>
        </a>

          <div dropdown>
            <button dropdownToggle type="button" class="header-icon btn btn-empty">
              <i class="simple-icon-grid"></i>
            </button>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-left ml-5" role="menu" aria-labelledby="button-basic"
              id="iconMenuDropdown">
              <a href="javascript:;" (click)="fullScreenClick()" id="fullScreenButton" class="icon-menu-item">
                <i *ngIf="!isFullScreen" class="simple-icon-size-fullscreen d-block" data-bs-toggle="tooltip"
                  data-bs-placement="top" title="full Screen size"></i>
                <i *ngIf="isFullScreen" class="simple-icon-size-actual d-block" data-bs-toggle="tooltip"
                  data-bs-placement="top" title="Actual Screen size"></i>
                <span>Screen Size </span>
              </a>
              <a href="javascript:;" id="darkModeSwitch" class="icon-menu-item" (click)="onDarkModeChange($event)">
                <i *ngIf="isDarkModeActive" class=" iconsminds-sun d-block" data-toggle="tooltip" data-placement="top"
                  title="Light Mood"></i>
                <i *ngIf="!isDarkModeActive" class=" iconsminds-half-moon d-block " data-toggle="tooltip"
                  data-placement="top" title="Dark Mood"></i>
                <span class="text-small">Mood</span>
              </a>

            </div>
          </div>
          <!-- <div dropdown>
            <button id="button-basic  d-block" dropdownToggle type="button" id="notificationButton"
              class="header-icon btn btn-empty">
              <i class="simple-icon-bell "> </i>
              <span class="count">3</span>
            </button>
            <div id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-left ml-5"
              id="notificationDropdown">
              <perfect-scrollbar>
                <div class="d-flex flex-row mb-3 pb-3 border-bottom dropdown-item">
                  <a href="javascript:;">
                    <img src="/assets/img/profiles/l-2.jpg" alt="Notification Image"
                      class="img-thumbnail list-thumbnail xsmall border-0 rounded-circle" />
                  </a>
                  <div class="pl-3">
                    <a href="javascript:;">
                      <p class="font-weight-medium mb-1">Joisse Kaycee just sent a new comment!</p>
                      <p class="text-muted mb-0 text-small">09.04.2018 - 12:45</p>
                    </a>
                  </div>
                </div>
                <div class="d-flex flex-row mb-3 pb-3 border-bottom dropdown-item">
                  <a href="javascript:;">
                    <img src="/assets/img/notifications/thumb-1.jpg" alt="Notification Image"
                      class="img-thumbnail list-thumbnail xsmall border-0 rounded-circle" />
                  </a>
                  <div class="pl-3">
                    <a href="javascript:;">
                      <p class="font-weight-medium mb-1">1 item is out of stock!</p>
                      <p class="text-muted mb-0 text-small">09.04.2018 - 12:45</p>
                    </a>
                  </div>
                </div>


              </perfect-scrollbar>
            </div>
          </div> -->
        </div>


        <div class="navbar-right d-none d-lg-flex flex-row mb-4">
          <ul class="navbar-nav d-none d-lg-flex flex-row  text-nowrap  ">
            <li class="nav-item">
              <a class="nav-link active" (click)="scrollTo('#Prouducts')" type="button">
                Our Prouducts
              </a>
            </li>

            <li class="nav-item  ">
              <a class="nav-link active" type="button" (click)="scrollTo('#about')">
                Who we Are
              </a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link " type="button" (click)="scrollTo('#Contact')">
                ContactUS
              </a>
            </li>
          </ul>

          <div class="d-flex align-items-end ml-3 ">
            <div class="user " dropdown>
              <button class="btn btn-empty p-0" type="button" dropdownToggle>
                <div class="d-flex flex-row align-items-center"> 
                  <label *ngIf="isDarkModeActive" class="text-white text-nowrap mt-2">{{displayName}}</label>
                  <label *ngIf="!isDarkModeActive" class="text-dark text-nowrap mt-2">{{displayName}}</label>
                  <img alt="Profile Picture" src="/assets/img/profiles/l-1.jpg" />
                  </div>
               
              </button>

              <div class="dropdown-menu dropdown-menu-right mt-3" *dropdownMenu role="menu">
                <a class="dropdown-item c-pointer">Account</a>
                <a class="dropdown-item c-pointer">Features</a>
                <a class="dropdown-item c-pointer">History</a>
                <a class="dropdown-item c-pointer">Support</a>
                <li class="divider dropdown-divider"></li>
                <a class="dropdown-item c-pointer" (click)="onSignOut()">Sign out</a>
              </div>
            </div>
          </div>





        </div>
        <span class="mobile-menu-button mr-4 mb-4" (click)="showMobileMenu=!showMobileMenu; $event.stopPropagation()">
          
          <i *ngIf="isDarkModeActive" class="text-white simple-icon-menu"></i>
          <i *ngIf="!isDarkModeActive" class="text-dark simple-icon-menu"></i>
        </span>

      </nav>
    </ngx-headroom>
  </div>
</div>