    // .image-side {
    //   width: 100%;
    //   // background: url("../../../../assets/img/homePage/EYE.jpg") no-repeat center ;
    //  height:100%;
    //   background-size:cover;
    //    padding: 80px ;

    //   .h3 {
    //     line-height: 0.8rem;
    //   }
    // }


    .badge-top-left-3 {
      top: 70px;
      left: -7px;
    }

    // .height{
    //   height: 15vh;
    // }

    .card-img-top {
      max-height: 20vh;

      object-fit: contain;
    }
    .card{
      min-height:45vh;
    }