<app-heading></app-heading> <br /><br /><br />

<div class="container">
<div class="row">
  <div class="col-lg-12 mb-5  ">
   

<div class="card  mb-4 " >
  <div class="card-body ">
    <div class="row" >
      <div class="col-md-6 col-lg-5 mt-2">
        <app-glide-thumbs  class="image" [images]="detailImages" [settingsImages]="{
                bound: true,
                rewind: false,
                focusAt: 0,
                startAt: 0,
                gap: 5,
                perView: 1,
                
              

              }" [thumbs]="detailThumbs" [settingsThumbs]="{
                bound: true,
                rewind: false,
                focusAt: 0,
                startAt: 0,
                gap: 10,
                perView: 5,
                breakpoints: {
                  '2640' : { perView: 5 },
                  '576' : { perView: 4 },
                  '420' : { perView: 3 }
                }
              }"></app-glide-thumbs>
      </div>
      <div class="col-md-4 col-lg-6 m-4 ">
        <h2 class="text-primary">{{product.name}}</h2>

        <app-rating></app-rating>
      <br/>
      <br/>

        <p *ngIf="dataLoaded"><strong>Category: {{product.category.name}} </strong></p>
        <p *ngIf="dataLoaded"><strong>Brand:  </strong></p>
        <p *ngIf="dataLoaded"><strong>skin type: </strong></p>
        <p *ngIf="dataLoaded" class="mb-3">{{product.description}}</p>
    

      </div>
    </div>


  </div>
</div>
</div>
</div>

</div>