<form class="form-horizontal " autocomplete="off" #createPageTemplateModal="ngForm" (ngSubmit)="save()">
  <abp-modal-header [title]="'Create New Page Template' | translate" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body modal-lg">
    <div class="form-group row required ">
      <label class="col-md-3 col-form-label" for="pageTemplate">
        {{ " Page Template" | translate }}
      </label>
      <div class="col-md-9">
        <button type="button" class="btn btn-primary btn-md mb-1" (click)="addTemplate()"><i
            class="iconsminds-add"></i> Add Template</button>
      </div>
      <div class="col-md-9">
        <div *ngFor="let pt of pageTemplates ;  let i=index">
          <div class=" row m-3" >
            <div class="col-md-6">
              <select  #templateIdEl  #templateIdModel="ngModel" name="pt.templateId{{i}}" required [(ngModel)]="pt.templateId" class="form-control">
                <option *ngFor="let t of tamplates;let i=index" [value]="t.id">{{t.title}} </option>

              </select>
              <!-- <abp-validation-summary [control]="templateIdModel" [controlEl]="templateIdEl"></abp-validation-summary> -->
            </div>
            <div  class="col-md-5">
              <input type="number" class="form-control" required name="pt.order{{i}}" [(ngModel)]="pt.order"
                #pageTamplatesrModel="ngModel" #pageTamplatesEl>

                <!-- <abp-validation-summary [control]="sizeModel" [controlEl]="sizeEl"></abp-validation-summary> -->
            </div>
            <div  class="col-md-1">
                <button type="button" class="btn  btn-xs btn-outline-danger mb-1" (click)="removeTemplate(i)"><i
                  class="iconsminds-remove"> </i></button>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createPageTemplateModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>
