<form class="form-horizontal " autocomplete="off" #createProductModal="ngForm" (ngSubmit)="save()">
  <abp-modal-header [title]="'CreateNewProduct' | translate" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body modal-lg">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="product.name">
        {{ "Name" | translate }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="name" id="name" required  [(ngModel)]="product.name"
          #nameModel="ngModel" #nameEl />
        <!-- <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary> -->
      </div>
    </div>

    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="product.point">
        {{ "Point" | translate }}
      </label>
      <div class="col-md-9">
        <input type="number" class="form-control" name="point" id="point" required
          [(ngModel)]="product.point" #pointModel="ngModel" #pointEl />
        <!-- <abp-validation-summary [control]="pointModel" [controlEl]="pointEl"></abp-validation-summary> -->
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="product.category">
        {{ "Category" | translate }}
      </label>
      <div class="col-md-9 ">
        <select class="form-control" aria-label="Category" #categoryModel="ngModel" required name="categoryId" [(ngModel)]="product.categoryId" #categoryIdEl>
          <option *ngFor="let item of categories" value={{item.id}}>{{item.name}}</option>
        </select>
        <!-- <abp-validation-summary [control]="categoryModel" [controlEl]="categoryIdEl"></abp-validation-summary> -->
      </div>
    </div>
    <div class="form-group row ">
      <label class="col-md-3 col-form-label" for="product.description">
        {{ "Description" | translate }}
      </label>
      <div class="col-md-9">
        <textarea  type="text" class="form-control" name="description" id="description"
          [(ngModel)]="product.description" #descriptionModel="ngModel" #descriptionEl >
          </textarea>
        <!-- <abp-validation-summary [control]="descriptionModel" [controlEl]="descriptionEl"></abp-validation-summary> -->
      </div>
    </div>
      <!--Image-->
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="imageCategoryNews">
            {{ "Image" | translate }}
        </label>
        <div class="col-md-9">
          <div class="upload-img">
         <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
        <ngx-dropzone-label>
          <div>
            <h2>Select Image</h2>
          </div>
        </ngx-dropzone-label>
        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"  *ngFor="let im of images " [removable]="true" [file]="im"(removed)="onRemove(im)">

        </ngx-dropzone-image-preview>
      </div>

      </div>
      </div>
    </div>
    <!-- Size -->
    <div class="form-group row required ">
      <label class="col-md-3 col-form-label" for="sizes">
        {{ "Sizes" | translate }}
      </label>
      <div class="col-md-9">
        <button type="button" class="btn btn-primary btn-md mb-1" (click)="addSize()"><i
            class="iconsminds-add"></i> Add Size</button>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-9">
        <div *ngFor="let s of product.sizes ;  let i=index">
          <div style="width:100%;display: flex;justify-content: space-evenly;">
            <div>
              <input type="number" class="form-control" required name="s.size{{i}}" [(ngModel)]="s.size"
                #sizeModel="ngModel" #sizeEl>
                <!-- <abp-validation-summary [control]="sizeModel" [controlEl]="sizeEl"></abp-validation-summary> -->
            </div>
            <div>
              <select  #sizeUniteEl  #sizeUnitModel="ngModel" name="s.unit{{i}}" required [(ngModel)]="s.unit" class="form-control">
                <option value="0">ml</option>
                <option value="1">g</option>
                <option value="2">l</option>
                <option value="3">kg</option>
              </select>
              <!-- <abp-validation-summary [control]="sizeUnitModel" [controlEl]="sizeUniteEl"></abp-validation-summary> -->
            </div>
            <div>
              <button type="button" class="btn btn-outline-danger mb-1" (click)="removeSize(i)"><i
                  class="iconsminds-remove"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createProductModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>
