<form class="form-horizontal" autocomplete="off" #editTitleModal="ngForm" (ngSubmit)="save()">
    <abp-modal-header [title]="'Edite News' " (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="title">
          {{ "Title" }}
        </label>
        <div class="col-md-9">
          <input type="text" class="form-control" name="title" id="title" required [(ngModel)]="news.title"
            #titleModel="ngModel" #titleEl />
          <!-- <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary> -->
        </div>
      </div>

    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="description">
        {{ "Description" | translate }}
      </label>
      <div class="col-md-9">
        <input type="text" class="form-control" name="description" id="description"
          [(ngModel)]="news.description" #descriptionModel="ngModel" #descriptioneEl   />

        <!-- <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary> -->
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="imageNews">
          {{ "Image" | translate }}
      </label>
      <div class="col-md-9">
        <div class="custom-dropzone"  ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
         <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" [multiple]="false" (removed)="onRemove(f)">
          </ngx-dropzone-image-preview>
        </div>
    </div>
  </div>
  </div>

    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!editTitleModal.form.valid || saving"
      (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
  </form>
