<form class="form-horizontal" autocomplete="off" #editTitleModal="ngForm" (ngSubmit)="save()">
    <abp-modal-header [title]="'Edite News' " (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="title">
          {{ "Title" }}
        </label>
        <div class="col-md-9">
          <input type="text" class="form-control" name="title" id="title" required [(ngModel)]="news.title"
            #titleModel="ngModel" #titleEl />
          <!-- <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary> -->
        </div>
      </div>
  
    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!editTitleModal.form.valid || saving"
      (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
  </form>