<app-heading></app-heading>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="mb-4 d-flex justify-content-center text-primary fw-bold ">American Health Care - Middle East</h2>
            <div class="row text-center">
                <div class="col-lg-1"></div>
                <div class="col-lg-4 mb-5  ">
                    <div class="card " >
                        <div class="card-body">

                            <h5 class=" text-primary fw-bold">Sales Department</h5>

                            <div class="d-flex justify-content-center ">
                                <div class="d-flex flex-column align-items-start mt-2 fs-6">
                                    <label><i class="iconsminds-old-telephone  text-primary  me-2"></i>+ (963) 11 543 4200 / Ext. 1624</label>
                                    <label for="SalesDepartmentFax"><i class="iconsminds-fax  text-primary me-2"></i>+ (963) 11 543  4217</label>
                                    <a href="javascript:;"> <i class="iconsminds-envelope text-primary me-2"></i>sales@ahc-me.net</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="col-lg-2"></div>
                <div class="col-lg-4 mb-5  ">
                    <div class="card ">
                        <div class="card-body">
                            <h5 class="text-primary fw-bold">Marketing Department</h5>
                            <div class="d-flex justify-content-center">
                                <div class="d-flex flex-column align-items-start mt-2 fs-6">
                                    <label><i class="iconsminds-old-telephone text-primary me-2"></i>+ (963) 11 543 4200 Ext. 1626</label>
                                    <label><i class="iconsminds-fax text-primary me-2"></i>+ (963) 11 543 4217</label>
                                    <a href="javascript:;"><i class="iconsminds-envelope text-primary me-2"></i>marketing@ahc-me.net</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <!-- //////////////////////////////////////////////// -->
            <div class="row  d-flex justify-content-center ">
                <div class="col-lg-4 col mb-5  ">
                    <div class="card   ">
                        <div class="card-body m-4 fs-6">
                            <div class="d-flex  justify-content-center mb-1 ">
                                <h5 class="text-primary fw-bold"> Applying for a job</h5>
                            </div>
                            <div class="d-flex  justify-content-center">
                                <a href="javascript:;"><i class="iconsminds-envelope text-primary me-2"></i>sales@ahc-me.net</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //////////////////////////////////////////////// -->
            <div class="row text-center">
                <div class="col-lg-1"></div>
                <div class="col-lg-4 mb-5  ">
                    <div class="card ">
                        <div class="card-body">
                            <h5 class="text-primary fw-bold">Business Development Department</h5>
                            <div class="d-flex justify-content-center fs-6">
                                <div class="d-flex flex-column align-items-start mt-2">
                                    <label><i class="iconsminds-old-telephone text-primary me-2"></i>+ (963) 11 543 4200  Ext. 1625</label>
                                    <label><i class="iconsminds-fax text-primary me-2"></i>+ (963) 11 5434217</label>
                                    <a href="javascript:;"><i class="iconsminds-envelope  text-primary me-2"></i>bd@ahc-me.net</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="col-lg-2"></div>
                <div class="col-lg-4 mb-5  ">
                    <div class="card ">
                        <div class="card-body">
                            <h5 class="text-primary fw-bold">General inquiries</h5>
                            <div class="d-flex justify-content-center">
                                <div class="d-flex flex-column align-items-start mt-2 fs-6">
                                    <label><i class="iconsminds-old-telephone text-primary me-2 "></i>+ (963) 11 543 4200Ext. 1622</label>
                                    <label><i class="iconsminds-fax text-primary me-2"></i>+ (963) 11 543 4217</label>
                                    <a href="javascript:;"><i class="iconsminds-envelope text-primary me-2"></i>info@ahc-me.net</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>