<div style="background-color:rgb(245, 242, 242) ;">
  <div class="container">
    <div class="d-flex justify-content-end  ">
      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-theme-3 dropdown-toggle"
          aria-controls="dropdown-basic">
          English <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="javascript:;">Arabic</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>