<app-heading></app-heading>
<br><br><br><br>
<div class="container-fluid mt-5">
   <div class="row justify-content-center mt-5 mb-5">
    <div class="card col-lg-5 col-md-8 col-sm-10 col-xs-10">
        <h4 class="card-title fw-bold mb-0 ms-4 mt-4">“American Health Care - Middle East” in lines</h4>
        <div class="card-body text-primary about-body">
          <p class="">American Health Care- Middle East is a regional firm distributing American Health Care US products in Asian & MEA regions. Based in Rockledge -Florida; American Health Care US with efforts of its innovative research and development team works with the highest standards & finest quality to produce a broad range of cosmetics and pharmaceutical items.</p>
            <p>American Health Care - Middle East manufactures under licensed products from American Health Care US at HCPC factory located in Syria , and covering: Face & Body Care, Eye care, Sunscreens, Dermatological, Health Care & anti aging products.</p>
            <br>
            <h5 class="fw-bold">“HCPC” Overview</h5>
            <p>Health Care Products Corp. “HCPC” is an advanced dedicated manufacturing facility which produce AHCMEs’ items for MEA & Asian regions.</p>
            <p>HCPC is part of Riad Souccar Group & Based in Syria, with a production capacity of up to 20 million tubes annually, HCPC production is supervised by    AHC-USA technical staff to manufacture AHC-USA products. In addition, all of HCPC's raw materials are supplied by AHC-USA.</p>
            <p>HCPC, has a GMP certificate, it is registered in several countries and equipped with the highest technology in addition to its experienced and trained staff, to ensure supplying top quality products to AHCME's customers.</p>
            <br>
        </div>
      </div>
   </div>
</div>


<app-view-footer></app-view-footer>