.about-body {
	p {
	  font-size: 0.95rem;
	}
  }
  
  .about-row {
	height: 100vh;
	width: 100%;
	// background-color: #EEEEEE;
  }
  
  .title-row {
	// background-color: #EEEEEE;
	height: 35vh;
  }
  
  .card {
	padding: 0 32px;
	margin-bottom: 64px;
	// background-color: gray;
	// box-shadow: none;
  }
  
  .card-wrapper1 {
	padding: 0 78px 48px;
	border-radius: 40px;
	overflow: inherit;
	transform: rotate(355deg);
	// background-color: #145388;
	width: 85%;
	// margin-left: 8rem;
	min-height: 30rem;
  }
  
  .card-wrapper2 {
	// background-color: white;
	transform: rotate(5deg);
	padding: 0 78px 48px;
	border-radius: 40px;
	overflow: inherit;
	width: 85%;
	min-height: 30rem;
  
  }
  
  .card-title-wrapper1 {
	border-radius: 17px;
	padding: 16px 32px 16px 32px;
	width: fit-content;
	margin-left: -2rem;
	margin-bottom: 2rem;
	transform: rotate(340deg);
	background-color: white;
	min-width: 7.5rem;
  }
  
  .card-title-wrapper2 {
	border-radius: 17px;
	padding: 16px 32px 16px 32px;
	width: fit-content;
	margin-left: -2rem;
	margin-bottom: 2rem;
	transform: rotate(15deg);
	background-color: #145388;
	color: #fff;
	min-width: 7.5rem;
  
  }
  
  .card-title-wrapper1 h4 {
	margin: 0;
  }
  
  .card-title-wrapper2 h4 {
	margin: 0;
  }
  
  .about-row p {
	font-size: 0.92rem;
  }
  
  .text-wrapper {
	color: white;
  }
  
  .text-wrapper2 h3,p{
	color: black;
  }
  
  .rotate-in-down-left {
	animation: rotate-in-down-left 2s ease ;
	}
	@keyframes rotate-in-down-left {
	0% {
	  transform-origin: left bottom;
	  transform: rotate(-90deg);
	  opacity: 0;
	}
	100% {
	  transform-origin: left bottom;
	  transform: rotate(0);
	  opacity: 1;
	}
	}
	