
<abp-modal-header
[title]="'View More Details' | translate"
(onCloseClick)="bsModalRef.hide()"
></abp-modal-header>
<div class="modal-body my-custom-scrollbar" >

  <div class="form-group row " *ngIf="loaded" >
    <label class="col-md-3 col-form-label" for="title">
      {{ "Title" | translate }}
    </label>
    <div class="col-md-9">

      <input
        type="text"
        class="form-control"
        name="title"
        id="title"
        [value]="data.title"
        [readonly]="!editable"
      />


    </div>
  </div>
<div class="form-group row " *ngIf="loaded" >
  <label class="col-md-3 col-form-label" for="description">
    {{ "Description" | translate }}
  </label>
  <div class="col-md-9">
    <input
      type="text"
      class="form-control"
      name="description"
      id="description"
      [value]="data.description"
      [readonly]="!editable"
      [innerHTML]="data.description" 
    />
  </div>
</div>
    <div class="form-group row " *ngIf="loaded" >
      <label class="col-md-3 col-form-label" for="slug">
        {{ "Slug" | translate }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="slug"
          id="slug"
          [value]="data.slug"
          [readonly]="!editable"
        />
      </div>
    </div>
    <div class="form-group row " *ngIf="loaded" >
      <label class="col-md-3 col-form-label" for="image">
        {{ "Image" | translate }}
      </label>
      <div class="col-md-9">
          <img [src]="baseUrl+data.imagePath" width="200"  height="200"  >
      </div>
    </div>


</div>

