<!-- <app-heading></app-heading><br /><br /><br /> -->
<!-- <app-heading></app-heading><br /><br /><br /> -->
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card-image auth-card">
      <div class="position-relative image-side">
        <div class="m-100">
          <!-- <app-breadcrumb></app-breadcrumb> -->
          <p class="text-primary h2">CETAPHIL HYDRATING EYE CREAMS</p>
          <p class="text-primary mb-0">
            Gently target delicate skin under the eyes, the most sensitive skin
            on the face, with our range of Cetaphil eye creams and serums with
            hyaluronic acid. .
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<hr class="text-primary" />
<div class="row">
  <div class="col-lg-3 col-md-12 col-sm-12 m-3 text-center">
   <h1 class=" text-primary">The Products</h1>
  </div>
</div>

<br />
<hr class="text-primary" />
<div class="row">
  <div class="col-lg-3 col-md-12 col-sm-12 m-3 ">
    <div class="accordion " id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed"
          type="button" data-bs-toggle="collapse"
           data-bs-target="#flush-collapseOne"
           aria-expanded="false"
           aria-controls="flush-collapseOne">
           Categories
          </button>
        </h2>
        <div *ngFor="let category of categories"id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            {{category.name}}
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
         Brand
          </button>
        </h2>
        <div *ngFor="let brand of brands" id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
           {{brand.name}}
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Skin Type
          </button>
        </h2>
        <div *ngFor="let skinType of skinTypes" id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            {{skinType.name}}
          </div>
        </div>
      </div>
    </div>
  </div>





        <div class="col-md-8 mb-4" *ngIf="isloading">

          <app-glide [settings]="{
          gap: 0,
          type: 'carousel',
          perView: 3,
          hideNav: true,
          breakpoints: { '600': { perView: 1 }, '1000': { perView: 2 } }
        }">
            <div *ngFor="let product of products" class="glide__slide">
            <div *ngFor="let product of products" class="glide__slide">

              <div class="card">
                <div class="position-relative" >
                  <img class="card-img-top"src="{{baseUrl+product.product_images[0].imagePath}}" alt="Card image cap">
                  <span class="badge badge-pill badge-theme-1 position-absolute badge-top-left">{{product.skin_type?.name}}</span>
                  <span class="badge badge-pill badge-secondary position-absolute badge-top-left-2">*{{product.brand?.name}}</span>
                  <span class="badge badge-pill badge-info position-absolute badge-top-left-3">{{product.category?.name}}</span>
                </div>
                <div class="card-body text-primary text-center p-3">

                  <h6 class="mb-4">{{product.name}}</h6>

                </div>
                <!-- <footer>
                  <a type="button" href="product"class="btn btn-primary btn-grad  m-2 w-80 position-absolute bottom-0 start-50 translate-middle-x" >Read More</a>
                </footer> -->

              </div>

            </div>
            </div>
          </app-glide>

        </div>

      </div>

      <app-view-footer></app-view-footer>
