<div [ngClass]="{'landing-page': true}">

    <div class="main-container">
      
        <app-view-navbar></app-view-navbar>
        <div class="content-container" id="home">
 
            <app-home-main-image></app-home-main-image>
            <!-- category cards -->
            <div class="section " data-aos="fade-up" data-aos-duration="1000">
                <div class="container ">
                    <div class="row my-5">
                        <div class="col-12 p-0">
                            <div class="home-carousel text-center">
                                <h1 class="mb-5">Our category </h1>
                                <app-category-card></app-category-card>
                            </div>
                        </div>
                    </div>


                   
                </div>
            </div>
            <!-- news cards -->
            <div class="section" data-aos="fade-up" data-aos-duration="1000">
                <div class="container" id="News">
                    <div class="row">
                        <div class="col-12 offset-0 col-lg-8 offset-lg-2 text-center">
                            <h1>DISCOVER MORE FROM AHC</h1>
                            <p>
                                Get the best care for your sensitive skin across all our product ranges.
                            </p>
                        </div>
                    </div>
                    <app-news-home-card></app-news-home-card>
                </div>


          </div>
      </div>
      <!-- product cards -->
      <div class="section screenshots background" data-aos="fade-up" data-aos-duration="1000">
          <div class="container" id="Prouducts">
              <div class="row">
                  <div class="col-12 offset-0 col-lg-8 offset-lg-2 text-center mb-4">
                      <a [routerLink]="['/viewProduct']">
                          <h1>Prouducts</h1>
                      </a>
                      <p class="section-text">
                          We all have different skin.<br>We all have different routines and live in different
                          environments.
                          <br>That’s why AHC doesn’t just rely on one particular ingredient, formula, or method.
                          We all have different skin.<br>We all have different routines and live in different
                          environments.
                      </p>
                  </div>
              </div>
              <app-products-home-card></app-products-home-card>
          </div>
      </div>
      <!-- recommanded products -->
      <div class="section mb-5 " data-aos="fade-up" data-aos-duration="1000">
          <div class="container">
              <div class=" row ">
                  <div class="col-12 p-0 text-center">
                      <h1>Recommended products</h1>
                      <div class="  home-carousel">
                          <div class="  home-carousel">
                              <app-recommended-products-home-card></app-recommended-products-home-card>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- About Us -->
      <div class="section background mt-5" data-aos="fade-up" data-aos-duration="1000">
          <div class="container" id="about">
              <div class="row ">
                  <div class="col-12 offset-0 col-lg-8 offset-lg-2 text-center">
                      <a>
                          <h1>About Us</h1>
                      </a>
                  </div>
                  <app-about></app-about>
              </div>
          </div>
      </div>
      <!-- Video -->
      <div class="section" data-aos="fade-up" data-aos-duration="1000">
          <app-video-home-card></app-video-home-card>
      </div>
      <!-- contact us -->
      <div class="section background " data-aos="fade-up" data-aos-duration="1000">
          <div class="container" id="Contact">


              <div class="section-content text-center">
                  <h1 class="section-header">Get in Touch with us</h1>
                  <p>Please use the information below to get in touch.
                      We look forward to hearing from you with any questions or queries you may have.</p>
              </div>
              <div class="contact-section">
                  <div class="container">
                      <app-contact-us-home-card></app-contact-us-home-card>
                  </div>
              </div>

              <div class=" text-center mt-5" data-aos="fade-up" data-aos-duration="1000">


                    <app-contact-numbers-home-card></app-contact-numbers-home-card>
                </div>
            </div>
        </div>
        <div class="section footer mb-0 ">
            <div class="container">
                <div class="row footer-row mt-5">
                    <div class="col-12 text-right">
                        <a class="btn btn-circle btn-outline-semi-light footer-circle-button "
                            (click)="scrollTo('#home')" href="javascript:;"><i class="simple-icon-arrow-up"></i></a>
                    </div>
                    <div class="col-12 text-center footer-content">
                        <a (click)="scrollTo('#home')" href="javascript:;">
                            <img class="footer-logo" alt="footer logo" src="/assets/logos/white.svg" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="container copyright pt-5 pb-5">
                <div class="row">
                    <div class="col-12"></div>
                    <div class="col-12 text-center">
                        <p class="">2020 © ColoredStrategies</p>
                    </div>
                </div>
            </div>
        </div>

