$color_1: #d7d7d7;
$color_2: #fff;
$color_3: white;
$color_4: #3366cc;
$color_5: #96a2b2;
$color_6: #818a91;
$background-color_1: #365573;
$background-color_2: white;
$background-color_3: #eceeef;
$background-color_4: #29aafe;
$background-color_5: #3b5998;
$background-color_6: #00aced;
$background-color_7: #fa7e1e;
$background-color_8: #F71C36;
$border-top-color_1: #bbb;


.social-icons {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	a {
		background-color: $background-color_3;
		color: $color_6;
		font-size: 16px;
		display: inline-block;
		line-height: 44px;
		width: 44px;
		height: 44px;
		text-align: center;
		margin-right: 8px;
		border-radius: 100%;
		-webkit-transition: all .2s linear;
		-o-transition: all .2s linear;
		transition: all .2s linear;
		&:active {
			color: $color_2;
			background-color: $background-color_4;
		}
		&:focus {
			color: $color_2;
			background-color: $background-color_4;
		}
		&:hover {
			color: $color_2;
			background-color: $background-color_4;
		}
	}
	a.facebook {
		&:hover {
			background-color: $background-color_5;
            background: linear-gradient(360deg, #3f51b5, transparent) $background-color_5;
		}
	}
	a.twitter {
		&:hover {
			background-color: $background-color_6;
		}
	}
	a.linkedin {
		&:hover {
			background-color: $background-color_7;
            background: linear-gradient(180deg, #405DE6,#833AB4, #C13584,#FD1D1D,#FCAF45)  #C13584;
		}
	}
	a.youtube {
		&:hover {
			background-color: $background-color_8;
		}
	}
}



