
<div class="contiener">
<section>
<div class="slide">
  <div  style="background-image:url('{{first}}')"></div>
  <div  style="background-image:url('{{second}}')"></div>
  <div  style="background-image:url('{{third}}')"></div>
  <div  style="background-image:url('{{fourth}}')"></div>
  <div  style="background-image:url('{{fifth}}')"></div>


  <!-- <div  style="background-image:url(../../../../assets/img/slider/mmt.jpg)"></div>
  <div  style="background-image:url(../../../../assets/img/slider/persun.jpg)"></div>
  <div  style="background-image:url(../../../../assets/img/homePageImage/age-sport.jpg)"></div>
  <div  style="background-image:url(../../../../assets/img/homePageImage/Presun-Oil.jpg)"></div>
  <div  style="background-image:url(../../../../assets/img/homePageImage/2.jpg)"></div> -->
</div>
</section>
     
</div>