    <footer class="site-footer view-footer">
      <div class="container-fluid ps-5 pe-5">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">
                Company, actively involved in the field of electronics, electrical power,and the information industry.

                It is a technology-driven value added system integrator,fueled by modern thinking and unique ideas, especially when adding our collective experience and innovative technologyý to our scope of delivery.
                <h6>Missions</h6>
                <ul class="missions text-justify">
                    <li><a>Staying on top of, and applying cutting-edge technology</a></li>
                    <li><a>Developing, installation, and commissioning integrated customized solutions</a></li>
                    <li><a>Supply of related components and spares</a></li>
                    <li><a>Provision of rehabilitation, retrofit, and upgrade services</a></li>
                </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a>MMT Care</a></li>
              <li><a>AHC</a></li>
              <li><a >PreSun</a></li>
              <li><a >HandCream</a></li>
              <li><a >Shampoo</a></li>
              <li><a >Samples</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/about/">About Us</a></li>
              <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
              <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
              <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
              <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container-fluid ps-5 pe-5">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by
         <a class="font-weight-bold" href="#">Souccar</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="simple-icon-social-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="simple-icon-social-twitter"></i></a></li>
              <li><a class="youtube" href="#"><i class="simple-icon-social-youtube"></i></a></li>
              <li><a class="linkedin" href="#"><i class="simple-icon-social-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>
