
<form class="form-horizontal " autocomplete="off" #editCategoryModal="ngForm" (ngSubmit)="save()" >
  <abp-modal-header [title]="'Edit Category' | translate" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body modal-xl">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="name">
            {{ "Name" | translate }}
          </label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="name" id="name" required
              [(ngModel)]="category.name" #nameModel="ngModel" #nameEl   />

            <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
          </div>
        </div>


        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="description">
            {{ "Description" | translate }}
          </label>
          <div class="col-md-9">
            <textarea type="text" class="form-control" name="description" id="description"
              [(ngModel)]="category.description" #descriptionModel="ngModel" #descriptionEl >
              </textarea>

            <abp-validation-summary [control]="descriptionModel" [controlEl]="descriptionEl"></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="point">
            {{ "Point" | translate }}
          </label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="point" id="point" required
              [(ngModel)]="category.point" #pointModel="ngModel" #pointEl   />

            <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
          </div>
        </div>

       <!--Image-->
       <div class="form-group row">
        <label class="col-md-3 col-form-label" for="imageCategoryNews">
            {{ "Image" | translate }}
        </label>
        <div class="col-md-9">
          <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
           <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">

            </ngx-dropzone-image-preview>
          </div>
      </div>
    </div>
  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!editCategoryModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>

