<abp-modal-header
  [title]="'View More Details' | translate"
  (onCloseClick)="bsModalRef.hide()"
></abp-modal-header>
<div class="modal-body my-custom-scrollbar">
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="name">
      {{ "Name" | translate }}
    </label>
    <div class="col-md-9">
      <input
        type="text"
        class="form-control"
        name="name"
        id="name"
        [value]="data.name"
        [readonly]="!editable"
      />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="description">
      {{ "Description" | translate }}
    </label>
    <div class="col-md-9">
      <input
        type="text"
        class="form-control"
        name="description"
        id="description"
        [value]="data.description"
        [readonly]="!editable"
      />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="point">
      {{ "Point" | translate }}
    </label>
    <div class="col-md-9">
      <input
        type="text"
        class="form-control"
        name="point"
        id="point"
        [value]="data.point"
        [readonly]="!editable"
      />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="image">
      {{ "Image" | translate }}
    </label>
    <div class="col-md-9">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 col-lg-5 mt-2">
              <div
                id="carouselExampleIndicators"
                class="carousel slide"
                data-bs-ride="carousel"
              >
                <div class="carousel-inner">
                  <div *ngFor="let pro of data.images; let index = index">
                    <div class="carousel-item active" *ngIf="index == 0">
                      <img
                        src="{{ baseUrl + data.images[0].imagePath }}"
                        class="d-block w-100"
                        alt="..."
                      />
                    </div>
                  </div>
                  <div *ngFor="let pro of data.images; let index = index">
                    <div class="carousel-item" *ngIf="index > 0">
                      <img
                        src="{{ baseUrl + pro.imagePath }}"
                        class="d-block w-100"
                        alt="..."
                      />
                    </div>
                  </div>
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
