<form
  class="form-horizontal"
  autocomplete="off"
  #createProductModal="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Edit Product' | translate"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body modal-lg">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="product.name">
        {{ "Name" | translate }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="name"
          id="name"
          required
          [(ngModel)]="product.name"
          #nameModel="ngModel"
          #nameEl
        />
        <abp-validation-summary
          [control]="nameModel"
          [controlEl]="nameEl"
        ></abp-validation-summary>
      </div>
    </div>

    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="product.point">
        {{ "Point" | translate }}
      </label>
      <div class="col-md-9">
        <input
          type="number"
          class="form-control"
          name="point"
          id="point"
          required
          [(ngModel)]="product.point"
          #pointModel="ngModel"
          #pointEl
        />
        <abp-validation-summary
          [control]="pointModel"
          [controlEl]="pointEl"
        ></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="product.category">
        {{ "Category" | translate }}
      </label>
      <div class="col-md-9">
        <select
          class="form-control"
          aria-label="Category"
          #categoryModel="ngModel"
          name="categoryId"
          [(ngModel)]="product.categoryId"
          #categoryIdEl
        >
          <option *ngFor="let item of categories" value="{{ item.id }}">
            {{ item.name }}
          </option>
        </select>
        <abp-validation-summary
          [control]="categoryModel"
          [controlEl]="categoryIdEl"
        ></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="product.brand">
        {{ "Brand" | translate }}
      </label>
      <div class="col-md-9">
        <select
          class="form-control"
          aria-label="Brand"
          #brandModel="ngModel"
          [(ngModel)]="product.brandId"
          name="brandId"
          #brandIdEl
        >
          <option *ngFor="let item of brands" value="{{ item.id }}">
            {{ item.name }}
          </option>
        </select>
        <abp-validation-summary
          [control]="categoryModel"
          [controlEl]="categoryIdEl"
        ></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="product.skinType">
        {{ "Skin Type" | translate }}
      </label>
      <div class="col-md-9">
        <select
          class="form-control"
          aria-label="SkinType"
          #skinTypeModel="ngModel"
          [(ngModel)]="product.skinTypeId"
          name="brandId"
          #brandIdEl
        >
          <option *ngFor="let item of skinType" value="{{ item.id }}">
            {{ item.name }}
          </option>
        </select>
        <abp-validation-summary
          [control]="categoryModel"
          [controlEl]="categoryIdEl"
        ></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="product.description">
        {{ "Description" | translate }}
      </label>
      <div class="col-md-9">
        <textarea
          type="text"
          required
          class="form-control"
          name="description"
          id="description"
          [(ngModel)]="product.description"
          #descriptionModel="ngModel"
          #descriptionEl
        >
        </textarea>
        <abp-validation-summary
          [control]="descriptionModel"
          [controlEl]="descriptionEl"
        ></abp-validation-summary>
      </div>
    </div>
    <!--Image-->
    <div class="form-group row my-image">
      <label class="col-md-3 col-form-label" for="imageCategoryNews">
        {{ "Image" | translate }}
      </label>
      <div
        class="col-md-9 background-image d-flex flex-row flex-nowrap overflow-auto"
      >
        <div *ngFor="let im of allImages; let i = index" class="force-overflow">
          <img
            class="m-1 relative"
            [src]="baseUrl + im.imagePath"
            width="200"
            height="105px"
          />
          <button
            type="button"
            class="file-upload-button btn btn-primary"
            (click)="onRemove(im.id, i)"
          >
            <i class="iconsminds-upload-1"> </i>
          </button>
        </div>
      </div>
    </div>
    <div class="position-relative">
      <div
        class="mt-2 position-absolute top-50 start-50 translate-middle"
        role="group"
        aria-label="Third group"
      >
        <button type="button" class="file-upload-button btn btn-primary">
          <i class="iconsminds-upload-1">
            <input type="file" (change)="onFileSelect($event)" />
          </i>
        </button>
      </div>
    </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createProductModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
